<%= render 'home/partials/index' %>
<%= render 'home/partials/recherche' %>
<script>
$(function(){
    $('[name="district"]').on('change', function(e){
            console.log('dsdsds');
            var select = e.target.options[e.target.selectedIndex].value;
            $.ajax({
                data: { id_district: select},
                method: "get",
                url: '<%= search_essaie_path %>',
                success: function(response){
                    console.log(response),
                    console.log(response[0]),
                    console.log(response[0].name),
                    $('#restaurant1').children().remove();
                    $.each(response, function(i, item){
                        $('#restaurant1').append('<option value="sdsdsdsddsd">'+item.name+'</option>');
                    });  
                }
            });

    });
});
</script>