<!--==========================
    Footer
  ============================-->
  <footer class="bg-secondary">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <a href="index.html"><img class="img-fluid"  alt="parsa" src="<%= image_url('https://www.spotseeker.com/images/logo.svg')%>" width="250" height="200"></a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Address</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">Antananarivo</li>
            <li class="font-secondary text-dark">Ic 17 Ankadilalampotsy</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Contact Info</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">Tel: +261 34 29 227 53</li>
            <li class="font-secondary text-dark">Mail: nambinina.solofonaina@gmail.com</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Follow</h6>
          <ul class="list-inline d-inline-block">
            <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="text-dark"><i class=" fab fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#" class="text-dark"><i class="fab fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="text-center pb-3">
    <p class="mb-0">Copyright ©<script>var CurrentYear = new Date().getFullYear()
    document.write(CurrentYear)</script> a theme by  <a href="">Nambinina Solofoniaina</a></p>
  </div> -->
</footer>