
<header class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img class="img-fluid"  alt="parsa" src="<%= image_url('https://www.spotseeker.com/images/logo.svg')%>" width="250" height="200"></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
      aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navogation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="<%=root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="<%= products_path %>">tous les produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="<%= new_product_path %>">create produit</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase text-dark dropdown-toggle" href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Se connecter/s'inscrire
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Se connecter</a>
            <a class="dropdown-item" href="">s'inscrire</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>


<section>
  <div class="container-fluid px-0">
    <div class="row no-gutters instagram-slider" id="instafeed" data-userId="4044026246"
      data-accessToken="4044026246.1677ed0.8896752506ed4402a0519d23b8f50a17"></div>
  </div>
</section>

