<form action="<%= search_filter_path %>" class="form-search col-md-12"style="background-color: #364e68;position: relative;padding: 3rem 2rem;z-index: 1;">
  <div class="row  align-items-end">
      <div class="col-md-4">
        <label for="list-types">les Districts</label>
          <div class="select-wrap">
            <span class="icon icon-arrow_drop_down"></span>
              <select name="district" id="list-types" class="form-control d-block rounded-0">    
                <% @districts.each do |district| %>
                    <option value="<%= district.id %>"> <%= district.name %> </option>
                <%end%>
              </select>
          </div>
      </div>

      <div class="col-md-4">
        <label for="offer-types">Les Restaurants</label>
          <div class="select-wrap">
            <span class="icon icon-arrow_drop_down"></span>
              <select name="restaurant1" id="restaurant1" id="offer-types" class="form-control d-block rounded-0"></select>
          </div>
      </div>
      <div class="col-md-4">
        <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="Search">
      </div>
  </div>
</form>
